body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.console-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    column-gap: 10px;
    height: 100px;
    background-color: var(--footer_background);
    border-bottom: 2px solid var(--purple);
}
.console-nav img {
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.title, article a {
    color: var(--purple);
}
.article-hypertext:hover {
    text-decoration: underline;
}
.intro-tag {
    text-align: center;
}
.article-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.article-content-center {
    text-align: center;
    background-color: aliceblue;
    height: 600px;
}
.articles-1content {
    width: 100%;
}
.articles-2content {
    width: 50%;
}
.articles-3content {
    width: 33%;
}
.image1{
    background-image: url(../img/console1.jpg);
}
.image2{
    background-image: url(../img/console2.jpg);
}
.image3{
    background-image: url(../img/console3.jpg);
}
.image4{
    background-image: url(../img/console4.jpg);
}
.image5{
    background-image: url(../img/console5.jpg);
}
.image6{
    background-image: url(../img/console6.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.image7{
    background-image: url(../img/console7.jpg);
}
.image8{
    background-image: url(../img/console8.jpg);
}