#accessories{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-between;
    align-items: flex-end;
}
#games{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-between;
    align-items: flex-end;
}
.eachProd{
    width: 100%;
    display: flex;
    /* margin: 30px; */
}
.eachProd img{
    width: 100%;
}
.oneline #buybtn{
    width: 65%;
}
.oneline #addcart{
    width: 25%;
}
@media screen and (max-width: 992px) {
    #accessories{
        grid-template-columns: 30% 30% 30%;
    }
    #games{
        grid-template-columns: 30% 30% 30%;
    }
}