
#accessories{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-between;
    align-items: flex-end;
}
.eachProd{
    transition: transform .5s;
}
.eachProd:hover img{
    transform: scale(1.1);
    z-index: -1;
}
#games{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-between;
    align-items: flex-end;
}
.eachProd{
    width: 100%;
    display: flex;
    /* margin: 30px; */
}
.eachProd img{
    width: 100%;
}
@media screen and (max-width: 992px) {
    #accessories{
        grid-template-columns: 30% 30% 30%;
    }
    #games{
        grid-template-columns: 30% 30% 30%;
    }
}