body {
    margin: 0;
    padding: 0;
}
h1 {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -6px;
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
main section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
article {
    text-align: center;
    background-color: aliceblue;
    height: 600px;
}
.article-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.primary-articles {
    width: 100%;
}
.secondary-articles {
    width: 50%;
}