section{
    margin-bottom: 40px;
}
#article-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}
#article-wrapper2{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}
.primary-articles img{
    margin-top: 10px;
    transition: transform .5s;
}
.primary-articles:hover img{
    transform: scale(1.1);
    z-index: -1;
}
.primary-articles img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
video{
    z-index: -1;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}