
main{
    width: var(--slide_width);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    background-color: white;
    height: 3vh;
    width: 6vw;
}
.content{
    margin-bottom: 2rem;
}
.eachProd{
    width: 13%;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    margin: 1rem;
}
#consoles_list{
    width: var(--slide_width);
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: center;
}
#consoles_list img{
    width: var(--console_img_width);
    height: var(--console_img_height);
}
#accessories_list{
    width: var(--slide_width);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#accessories_list img{
    width: var(--console_img_width);
    height: var(--console_img_height);
}
#games_list{
    width: var(--slide_width);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#games_list img{
    width: var(--console_img_width);
    height: var(--console_img_height);
}
.oneline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    margin-bottom: 1rem;
}
.name{
    font-weight: bold;
}
.price{
    font-size: 0.8em;
    opacity: 0.5;
}