body{
    margin: 0;
    background-color: rgb(246, 247, 249);
}
main{
    width: var(--slide_width);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    background-color: white;
    height: 3vh;
    width: 6vw;
}
.content{
    margin-bottom: 2rem;
}
.eachProd{
    width: 13%;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    margin: 1rem;
}
#consoles_list{
    width: var(--slide_width);
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: space-evenly;
    /*column-gap: 50px;*/
}
#consoles_list img{
    width: var(--console_img_width);
    height: var(--console_img_height);
}
#accessories_list{
    width: var(--slide_width);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#accessories_list img{
    width: var(--console_img_width);
    height: var(--console_img_height);
}
#games_list{
    width: var(--slide_width);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#games_list img{
    width: var(--console_img_width);
    height: var(--console_img_height);
}
.oneline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 30px;
    margin-right: 30px;
}
.oneline #buybtn{
    height: 30px;
    width: 73%;
    border-radius: 10px ;
}
.oneline #addcart{
    height: 30px;
    width: 25%;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#one{
    margin: 0;
}
.name{
    font-weight: bold;
}
.price{
    font-size: 0.8em;
    opacity: 0.5;
}
