main{
    position: relative;
    height: 750px;
}

.info{
    position: absolute;
    width: 398px;
    height: 290px;
    left: 147px;
    top: 150px;
}
.productAdd{
    position: absolute;
    width: 384px;
    height: 133px;
    left: 0px;
    top: 60px;
}
.productAdd h2{
    margin: 0px;
    width: 519px;
    height: 30px;
    left: 796px;
    top: 50px;
    
    /* Heading 04 */
    
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */
    
    letter-spacing: -0.55px;
    
    color: #000000;
}
.sagsAdd{
    position: absolute;
    left: 816px;
    top: 10px;
}

.coupon{
    margin-top: 0px;
    width: 307.44px;
    height: 40px;
}
.price1{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 401px;
    height: 96px;
    left: 792px;
    top: 338px;

}
.btn{
    width: 306.67px;
    height: 50px;
    left: 0px;
    top: 0px;
}

.infoAdd{
    position: absolute;
    width: 400px;
    height: 456px;
    left: 145px;
    top: 150px;

    background-color: red;
}
.infoAdd h3{
    position: absolute;
    width: 208.8px;
    height: 33px;
    left: 150.17px;
    top: 279px;

}
.checkoutshort{
    left: 0px;
    top: 400px;
}

#first-name{
    position: absolute;
    width: 195px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#last-name{
    position: absolute;
    width: 196px;
    height: 40px;
    left: 202px;
    top: 0px;
    
}
#address{
    position: absolute;
    width: 398px;
    height: 40px;
    left: 0px;
    top: 50px;
}
#full-address{
    position: absolute;
    width: 398px;
    height: 40px;
    left: 0px;
    top: 100px;
}
#city{
    position: absolute;
    width: 398px;
    height: 40px;
    left: 0px;
    top: 150px;

}
#country{
    position: absolute;
    width: 122px;
    height: 40px;
    left: 0px;
    top: 200px;
}
#what3words{
    position: absolute;
    width: 126px;
    height: 34px;
    left: 272px;
    top: 200px;
}
#district{
    position: absolute;
    width: 122px;
    height: 40px;
    left: 138px;
    top: 200px;
}

#save-info-info{
    position: absolute;
    width: 124px;
    height: 16px;
    left: 40px;
    top: 257px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;

    color: #979797;
}
#save-info{
    position: absolute;
    width: 20px;
    height: 19.62px;
    left: 0px;
    top: 252px;
}
#submit{
    position: absolute;
    width: 397px;
    height: 50px;
    top: 290px;

}