main{
    position: relative;
    height: 1000px;
}


.product{
    position: relative;

    width: 560px;

    left: 145px;
    top: 200px;

}
#productUl{
    position: relative;
    
    top: 0px;
    left: 100px;
    padding: 0px;
    width: 560px;
    height: 133px;

}
#Pname{
    /* Title */
    width: fit-content;
    height: fit-content;

    /* Heading 04 */

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */

    letter-spacing: -0.55px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
#capacity{
    /* Size: L */


    width: 357px;
    height: 7px;

    /* Paragraph 04 */

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: -0.4px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
#unit{
    /* Quantity: 1 */


    width: 357px;
    height: 7px;

    /* Paragraph 04 */

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: -0.4px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
#price{
    /* Price */


        width: 81px;
        height: 30px;

        /* Heading 04 */

        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        /* identical to box height, or 136% */

        letter-spacing: -0.55px;

        color: #000000;


        /* Inside auto layout */

        flex: none;
        order: 3;
        flex-grow: 0;
}
#remove{
    /* Remove Button */

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    
    text-decoration-line: underline;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    position: absolute;
    left: 300px;
    top: 100px;
}

.image{
    position: absolute;
    left: 0px;
    width: 129px;
    height: 133px;
    background-color: rgb(219, 218, 218);
    
}



.product1{
    width: 560px;
    left: 145px;
    top: 250px;

}



.buyH h1{
    position: absolute;
    left: 145px;
    top: 0px;
    bottom: 85.81%;

    /* Heading 03 */

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */

    letter-spacing: -1.5px;

    color: #000000;
}
.buyH ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 14px;

    position: absolute;
    width: 350px;
    height: 28px;
    left: 186px;
    top: 60px;
}

.checkoutshort{
    position: absolute;
    width: 404px;
    height: 309px;
    
}
.checkoutshort h2{
    margin: 0px;
    width: 519px;
    height: 30px;
    left: 796px;
    top: 206px;
    
    /* Heading 04 */
    
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */
    
    letter-spacing: -0.55px;
    
    color: #000000;
}
.coupon{
    margin-top: 20px;
    width: 307.44px;
    height: 40px;
    left: 792.77px;
    top: 267px;
}
.price1{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 401px;
    height: 96px;
    left: 792px;
    top: 338px;

}
.btn{
    width: 306.67px;
    height: 50px;
    left: 0px;
    top: 0px;
}

.headHr{
    width: 68px;
    height: 0px;

    border: 1px solid #000000;
}
.otherHr{
    width: 500px;
    height: 0px;
    left: 794px;
    top: 410px;

}