.sagsAdd{
    position: absolute;
    left: 816px;
    top: 100px;
}
.ShippingInfo{
    position: relative;
    width: 411.4px;
    height: 196px;
    left: 143px;
    top: 271px;
    background-color: red;

}
.normalDel{
    position: absolute;
    width: 396px;
    height: 89px;
    left: 143px;
    top: 271px;    
}
.FastDel{
    position: absolute;
    width: 407.31px;
    height: 89px;
    left: 147.09px;
    top: 378px;
}
.buttonCon{
    position: absolute;
    width: 397px;
    height: 50px;
    left: 142px;
    top: 587px;
}
#NormalDelivery{
    position: absolute;
    left: 20.83%;
    right: 20.83%;
    top: 25%;
    bottom: 25%;

    /* Primary */

    background: #0D0D0D;
}